@import "colors";
$font_body:Geneva, Arial, Helvetica, sans-serif;
$icons_font_size : 24px;
$h2_font_size:18px;
$p_font_size:14px;
@mixin border($px,$blue) {
    border: $px solid $blue;
}
@mixin height($a,$b){
    height: -webkit-calc(#{$a} - #{$b});
    height: -moz-calc(#{$a} - #{$b});
    height: calc(#{$a} - #{$b});
}
// ========= TEMPLATE ===================
    /* Set gray background color and 100% height */
    body{
    	min-width:320px;
    	font-family:$font_body;
    }
    .sidenav {
      // background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
/*============ HEADER ============*/

#logo{
	position: relative;
	top: -5px;
	left:30px;
}

#main-navbar-collapse{
	background-color: $dark_blue;
}

#user_btn{
	position: relative;
	left: -30px; 
	font-size: 24px;
	padding-top: 15px;
	
}

.navbar-nav>li>a img{
	margin-right: 5px; 
}

/*===== CONTENT(Sidebar) =============*/
#content{
	margin-top: 80px;
}

#sidebar{
	background-color: $sidebar_bg;
	padding: 0px;
	width: 190px;
	margin-top: 76px;
	@include height(100vh,76px);
	color:black;
	overflow-y: auto;
	position: fixed;
	z-index: 1;

}

.user_image{
	text-align: center;
	 padding-top: 20px;
	img{
		height: 100px;
    	width: 100px;
    	@include border(1px,$blue)
		p{
			
			font-size: 16px;
			margin-top: 5px;
			margin-bottom: 10px;
		}
	}
}

.user_items{
	border-top:1px solid black;
	border-bottom:1px solid black;
	padding-top: 15px;	
	text-align: center;
	color: white;
	&:hover{
		background-color: $user_items_hover_color;
		border-left: 5px solid $blue;
	}
}

/*========== MAIN ==============*/
#main{
	margin-top: 76px;
	float: left;
	padding-left:30px;
	padding-right:25px;
	z-index: 1000;
	h2{
		
		font-size: $h2_font_size;
		color: #6f6f6f;
		margin-top: 60px;
		text-align: left;
	}
}

.blocks{
	text-align: center;
	padding: 10px;
	div{
		height: 195px;
		background-color: $dark_blue;
		line-height: 195px;
	}
	span{
		
		font-size: $h2_font_size;
		color: white;
	}
}

.line{
	border-bottom: 1px solid black;
	a{
		color:blue;
		margin-bottom: 10px;
		margin-top: 10px;
		text-decoration: none;	
	}

	hr{
		margin-bottom: 30px;
	}
}

.search_form{
	button{
		font-size: $icons_font_size;
		height: 40px;
	}
	input{
		height: 40px;
		@include border(1px,black);
	}
}

.search{
	margin-top: 20px;
}

button.add_avatar{
	background-color: $blue;
    color: white;
    height: 40px; 
    @include border(3px,$blue);
    border-bottom: 3px solid #2161AA;
    font-weight: bold;
    position: relative;
    left:15px;
}
.items_header div{
	height: 30px;
    background-color: $dark_blue;
    color: white;
}
.arrow{
	font-size: 20px;
	padding: 2px 12px;
}
.template{
	background-color: $content_itemms_bg;
}

.avatar .image .name {
    color:$blue;
 
   font-size:$p_font_size;
    margin-bottom: 3px;
    margin-top: 10px;
    word-wrap: break-word;
} 
.date{
	font-size: $p_font_size;
	position: relative;
    top: -19px;
    margin-left: 39px;
}
.settings{

	font-size:$h2_font_size;
	position: relative;
	top: -40px !important;
}
.row.bullets{
	@include border(1px,#D3D3D3);
	p span{
		padding-left: 5px;
		position: relative;
		top: -7px;
	}
}

/*========= FOOTER ===========*/
footer{
	.footer{
		width:81.7% !important;
	}
	.navbar-fixed-bottom{
		left:15px !important;
		background-color: $footer_bg;
	}
	&:first-child{
		color: black !important;
		font-weight: bold;
		font-size: $p_font_size;
	}

	&>ul{
		text-align: left;
		li>a{
			color: black;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
				color: blue;
			}
		}
	}
}

/*========== MEDIA ================*/
@media only screen and (max-width : 768px) {
   #logo{ top: -15px;}
   .navbar-header{background-color: $dark_blue;height: 65px;}
   #sidebar{display: none}
   #user_btn{margin-left: 35px;}
   footer{margin-left: 0px;}
   #main{margin-bottom: 50px;}
}

@media only screen and (max-width : 992px) {
   #sidebar{display: none;}
   .footer{width:100% !important;font-size:10px;}
}






